modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "mvn spring-boot:run"
mode = "sequential"
author = 52016475

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn spring-boot:run"

[[ports]]
localPort = 5000
externalPort = 80
